.auth-land {

  .login-instance-name {
    font-size: 3rem;
    text-align: center;
    margin-top: 1.5rem;
    background: url('~flavours/glitch/images/bliss/home.jpg');
    background-repeat: no-repeat;
    background-position: center bottom;
    background-repeat: no-repeat;
    height: 5rem;
    background-size: 3.5rem;
  }

  .auth-container-bg-img {
    width: 100%;
    height: 100vh;
    opacity: 0.15;
    filter: alpha(opacity=15);
    background: url('~flavours/glitch/images/bliss/home2.jpg');
    background-position: right;
    background-repeat: no-repeat;
    left: 0;
    top: 0;
    margin: 0 auto;
    overflow: hidden;
    position: fixed;
    z-index: -1;
  }

  .container-alt {
    z-index: 10;
    margin: auto;
    float:left;
  }

  .dismissable-banner {
    background: $base-overlay-background;
  }

  .mention.status-link {
    background: $base-overlay-background;
    border-radius: 100%;
  }
}
.admin{
  .sidebar-wrapper{
    background-image: url('~flavours/glitch/images/bliss/home2.jpg');
    background-position: left;
    background-repeat: no-repeat;
  }

  .accounts-table__email{
    width: 200px;
  }
}

#mastodon{
  background-image: linear-gradient(transparent, #15141A 90%), url('~flavours/glitch/images/bliss/a_travers_pic_mastodon_grey.jpg');
  background-position: top left;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: 100vh;
  .compose-panel{
    //background-image: linear-gradient(transparent, #15141A 90%);
  }
  .navigation-bar__profile .permalink.acct{
    font-size: 1.25rem;
  }
}

// add logo in links on webapp
.link-footer{
  background-image: url('~flavours/glitch/images/bliss/home.jpg');
  background-position: left;
  background-repeat: no-repeat;

  a{
    margin-right: 2ch;
  }
}
.skin-mastodon-light{
  .navigation-bar__profile, strong{
    color: white;
  }
}
