$maximum-width: 1235px;
$fluid-breakpoint: $maximum-width + 20px;

.container {
  box-sizing: border-box;
  max-width: $maximum-width;
  margin: 0 auto;
  position: relative;

  @media screen and (max-width: $fluid-breakpoint) {
    width: 100%;
    padding: 0 10px;
  }
}

.brand {
  position: relative;
  text-decoration: none;
}

.rules-list {
  font-size: 15px;
  line-height: 22px;
  color: $primary-text-color;
  counter-reset: list-counter;

  li {
    position: relative;
    border-bottom: 1px solid lighten($ui-base-color, 8%);
    padding: 1em 1.75em;
    padding-left: 3em;
    font-weight: 500;
    counter-increment: list-counter;

    &::before {
      content: counter(list-counter);
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      background: $highlight-text-color;
      color: $ui-base-color;
      border-radius: 50%;
      width: 4ch;
      height: 4ch;
      font-weight: 500;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &:last-child {
      border-bottom: 0;
    }
  }
}


.custom-img img {
  width: 100%;
  max-width: 50vw;
  display: block;
  margin: 0 auto;
}

.custom_message_heading {
  font-size: 2em;
  margin-bottom: 0.5em;
  text-align: center;
}
.landing,
.page-show{
  height: 50vh;
  min-height: 50vh;
  position: relative;
  top: 0;
  width: 100%;
  background: url('~flavours/glitch/images/bliss/home2.jpg') no-repeat fixed center;
  //background: url('~flavours/glitch/images/wave-drawer.png') no-repeat fixed center;
  background-size: cover;


}
// landing
h1.main_brand_title{
  margin: 2rem auto !important;
  font-size: 5rem !important;
  text-shadow: 0 0 1rem #ccc;
}
.auth-page {
  min-height: 100vh;
  position: absolute;
  top: 0;
  width: 100%;
  background: url('~flavours/glitch/images/bliss/auth_background.jpg') no-repeat fixed center;
  //background: url('~flavours/glitch/images/wave-drawer.png') no-repeat fixed center;
  background-size: cover;

  .form-container {
    background: rgba(0, 0, 0, 0.5);
  }

  .logo-container {
    width: 200px;
  }

  .img-custom {
    text-align: center;
    width: 440px;
    background: rgba(0, 0, 0, 0.5);
    margin: 0 auto;
    display: block;

    img {
      width: 400px;
      max-width: 90vw;
      margin: 1em auto;
      display: inline-block;
      border: solid 2px #111;
    }
  }

  .title {

    padding: 1em;
    font-size: 3em;
    margin-bottom: 0.5em;
  }
}
// landing
h1.main_brand_title{
  text-shadow: 0 0 1rem #ccc;
  text-align: center;
  position: absolute;
  top: 2rem;
  height: 0;
  background: transparent;
  z-index: 10;
  width: 100%;
}


.getting-started__footer {
  a {
    margin-right: 1ch;
    display: inline-block;
    .fa {
      margin-right: 1ch;
    }
  }
}
.main-container{
  min-height: 1200px;
}
.container-footer{
  margin: 1rem auto;
  max-width: 900px;
}
