.batch-table__row{ class: [!account.suspended? && account.user_pending? && 'batch-table__row--attention', (account.suspended? || account.user_unconfirmed?) && 'batch-table__row--muted'] }
  %label.batch-table__row__select.batch-table__row__select--aligned.batch-checkbox
    = f.check_box :account_ids, { multiple: true, include_hidden: false }, account.id
  .batch-table__row__content.batch-table__row__content--unpadded
    %table.accounts-table
      %tbody
        %tr
          %td
            = account_link_to account, path: admin_account_path(account.id)
          %td.accounts-table__count.optional
            - if account.suspended? || account.user_pending?
              \- "user pending"
            - else
              = friendly_number_to_human account.statuses_count
            %small= t('accounts.posts', count: account.statuses_count).downcase
          %td.accounts-table__count.optional
            - if account.suspended? || account.user_pending?
              \-
            - else
              = friendly_number_to_human account.followers_count
            %small= t('accounts.followers', count: account.followers_count).downcase
          %td.accounts-table__count
            = relevant_account_timestamp(account)
            %small= t('accounts.last_active')
          %td.accounts-table__email
            - if account.local?
              - if account.user_email
                %a{ :href => "mailto:"+account.user_email ,:title => "email"}
                  =account.user_email
              - else
                \-
              %br/
              %samp.ellipsized-ip= relevant_account_ip(account, params[:ip])
          %td.accounts-table__extra
            - if account.local?
              - if account.user_email
                = link_to account.user_email.split('@').last, admin_accounts_path(email: "%@#{account.user_email.split('@').last}"), title: account.user_email
              - else
                \-
              %br/
              %samp.ellipsized-ip= relevant_account_ip(account, params[:ip])
    - if !account.suspended? && account.user_pending? && account.user&.invite_request&.text&.present?
      .batch-table__row__content__quote
        %p= account.user&.invite_request&.text
