@import './variables';

.columns-area__panels {
  background: url('../images/elephant_ui_plane.jpg') no-repeat left bottom fixed,
  url('../images/logo_cipherbliss.png') no-repeat right bottom fixed;
}

.status__content {
  min-height: 5em;
}

.status__wrapper {
  border-left: solid 3px transparent;
  transition: 0.5s all ease;

  &:hover {
    transition: 0.2s all ease;
    border-left: solid 3px #528dc8;
  }
}

.detailed-status__wrapper {
  border-left: solid 3px #528dc8;
}

.links-started__footer {
  li {
    display: inline-block;
  }

  .fa {
    color: #528dc8;
    &:hover {
      color: $gold-star !important;
    }
  }

  a {
    color: #528dc8;
    display: inline-block;
    padding: .5em;
    text-decoration: none;

    .fa {
      margin-right: 1ch;
    }

    &:visited {
      color: #528dc8;
    }

    &:hover {
      color: $gold-star;
      background: rgba(0,0,0,0.5);
    }

    &.staff-actions {
      .fa {

        color: $gold-star !important;
      }
    }
  }

  .toggle_links {
    &[data-active=true] {
      background: $classic-primary-color;
      color: white;
    }
  }

}

.compose-form {
  .reply-indicator {
    display: block;
  }
}

.autosuggest-textarea__textarea{
  color: #528dc8;
}

.account-authorize--more-data {
  padding: 1em;
  color: white;
  margin-bottom: 1em;

  a {
    margin-right: 1em;
    padding: 0.5em;
    color: white;
  }
}

.account__relationship {
  button {
    width: 10em;
    height: 3em;
  }
}

.account--panel {
  margin-top: 1em;
}

.account--panel__button {
  padding: 1em;

  button {
    display: block;
  }
}


.status__content,
.status_info,
.status__content__read-more-button,
.display-name{
  margin-left: 1em;
}

.status__wrapper, .detailed-status__wrapper{
  .status__action-bar{
    opacity: 0;
    transition: all ease 0.5s;
  }
  &:hover{
    .status__action-bar{

      opacity: 1;
      transition: all ease 0.2s;
    }
  }
}
.status__content__read-more-button {
  .fa{
    float:left;
  }
  .see-more {
    opacity: 0;
    transition: opacity ease 0.2s;
    float:left;
    margin-left: 1em;
  }
  &:hover .see-more{
    display: block;
    opacity: 1;
  }
}

.dropdown-menu__item{
  .fa{
    margin-right:1em;
  }
}

@media all and (max-width: $column-breakpoint) {
  .columns-area__panels {

    background: none;
  }

}
