.container.group-form

%p
  WORK IN PROGRESS

  = simple_form_for(@user_group) do |f|
    = f.error_notification

    .form-inputs
      = f.input :name
      = f.input :createdAt
      = f.input :visibility
      = f.input :account_id

    .form-actions
      = f.button :submit
