- content_for :page_title do
  = 'Groupes'
.container
  .page-header
    %h1 Listing user_groups

  %table.table-responsive.table-striped
    %thead
      %tr
        %th Name
        %th Createat
        %th Visibility
        %th Creator ID
        %th Statuses count
        %th
        %th
        %th

    %tbody
      - @user_groups.each do |user_group|
        %tr
          %td= user_group.name
          %td= user_group.created_at
          %td= user_group.visibility
          %td= user_group.account_id
          %td= "0"
          %td= link_to 'Show', user_group
          %td= link_to 'Edit', edit_user_group_path(user_group)
          %td= link_to 'Destroy', user_group, :method => :delete, :data => { :confirm => 'Are you sure?' }

  %br

  .text-btn
    = link_to 'New User group', new_user_group_path
