%p#notice= notice

%p
  %b Name:
  = @user_group.name
%p
  %b Createat:
  = @user_group.created_at
%p
  %b Visibility:
  = @user_group.visibility
%p
  %b Creator:
  = @user_group.account_id

= link_to 'Edit', edit_user_group_path(@user_group)
\|
= link_to 'Back', user_groups_path
