- content_for :content do
  .auth-land
    .container-alt
      .logo-container
        %h1
          = link_to root_path do
            = logo_as_symbol(:wordmark)
        .login-instance-name
          CipherBliss

      .form-container
        = render 'flashes'

        = yield
    .auth-container-bg-img


= render template: 'layouts/application'
